.top__header {
  background-color: var(--black-color);
  padding: 18px 0;
}

.top__header li {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 767px)
{
  .top__header{
    padding: 10px 0;
  }
}