.footer {
    background: var(--black-color);
    padding: 100px 0;
}

.footer h4 {
    color: var(--primary-color);
    text-transform: uppercase;
}
.footer ul li a {
    color: var(--white-color);
}
.bottomFooter a, .bottomFooter p{
    color: #FAF7F699;
}

@media (max-width: 992px){
    .footer {
        padding: 40px 0;
    }
    
}