.tales__card {
    background: var(--white-color);
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    padding: 40px 25px;
}
.tales__card h4{
    font-family: "Inter", sans-serif;
}

@media (max-width: 992px){
    .tales__card{
        width: max-content;
    }
}